*.py[c|o]
.DS_Store
*.sql
*.bz2
*~
*.log
*.wsgi
local_settings.py
*.mp3
*.m4a
^_*.py
public/
src/
./media/
.vagrant
_build
local_tasks.py
*.sass-cache
*.cache
celerybeat-schedule
*.rdb
run
localvisor.conf
*.pid
